* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  color: aliceblue;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2e2e2e; /* 검정에 가까운 회색 */
  color: white;
  display: none;
  flex-direction: column;
  width: 220px;
  z-index: 999;
}

.dropdown-option {
  background: none;
  border: none;
  color: white;
  padding: 15px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #161616;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-toggle,
.top_main_menu {
  height: 100%;
  display: flex;
  font-size: 14px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.hover_01:hover {
  color: #20da52;
}

.top_main_menu:hover {
  color: #20da52;
}

.start_btn:hover {
  background-color: #a07f9b;
  transform: scale(1.05);
}

.fee_btn:hover {
  transform: scale(1.05);
}

.top_function {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  padding: 0px 180px;
  height: 70px;
}

.main_logo {
  display: flex; /* flex 컨테이너로 설정 */
  align-items: center; /* 세로 중앙 배치 */
}

.main_logo img {
  width: 25%;  /* 부모 요소의 크기에 맞게 이미지 크기 조정 */
  height: auto; /* 이미지의 비율 유지 */
}

.top_btn {
  align-items: center;
  gap: 20px;
  display: flex; 
}

.main_text {
  position: relative;  /* main_text가 기준이 되도록 설정 */
}

.pink_bar {
  height: 120px;                  /* 높이를 80px로 설정 */
  width: 100%;                   /* 가로 길이를 화면 전체로 설정 */
  background-color: pink; 
  background: linear-gradient(
    rgb(176, 145, 161),          /* 위에서 분홍색 */
    rgba(18, 18, 18, 1)               /* 아래쪽은 검정색 반투명 */
  );
}

.background_img {
  position: absolute;                /* 절대 위치 지정 */
  top: 0;                            /* 분홍색 바의 상단에 배치 */
  right: 0;                          /* 오른쪽 끝에 위치 */
  width: 50%;                        /* 이미지 크기 설정 (필요에 따라 조정) */
  height: auto;                      /* 비율에 맞게 높이 자동 조정 */
}

.TxT {
  top: 60%; 
  padding: 0px 200px;
  margin-top: -40px;
}

.title {
  font-size: 45px;
}

.sub_text {
  font-size: 16px;
  margin-top: 15px;
}

.two_btn {
  padding: 0 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.start_btn {
  border-radius: 25px;
  height: 50px;
  width: 110px;
  background-color: rgb(238, 202, 227);
  border: none;
}

.fee_btn {
  border-radius: 25px;
  height: 50px;
  width: 160px;
  background-color: black;
  color: aliceblue;
  margin-left: 10px;
  border-width: 1px;
  border-color: aliceblue;
  border-style: solid;
}

.small_text {
  font-size: 10px;
  margin-left: 200px;
}

a:link {
  color: aliceblue;
}

.under_line {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 300px;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;

  /* 툴팁 위치 조정 */
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px; /* 약간 오른쪽 여백 */
  z-index: 100;
  transition: opacity 0.3s;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* 호버 시 보여주기 */
.under_line:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.second_title {
  padding: 0 400px;
  margin-top: 150px;
  text-align: center;
  border-collapse: collapse;
}

.sub_text_2 {
  white-space: nowrap;  
  margin-top: 10px;
}

.show_chart {
  text-align: center;
  padding: 0 520px;
  margin-top: 50px;
  border-collapse: collapse;
  font-size: 15px;
}

table {
  width: 100%; /* 테이블 너비를 100%로 설정 */
  border-spacing: 0; /* 셀 간의 간격을 없앰 */
  table-layout: fixed;
}

.dash_icon {
  width: 40px;
  filter: invert(100%);
}

.fa-circle-check {
  font-size: 30px;
}

.under_line {
  text-decoration: underline dotted rgb(255, 255, 255);
}

td {
  padding: 11px; /* 셀 안의 여백을 줄여줌 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  border-top: 1px solid #fff;  /* 상단 테두리 */
  border-bottom: 1px solid #fff; /* 하단 테두리 */
  border-left: 1px none;  
  border-right: 1px none;  
  height: 80px;
}

th {
  padding: 11px; 
  text-align: center;
}

/* 왼쪽 열 */
th:first-child, td:first-child {
  width: 40%; /* 왼쪽 열을 더 넓게 */
  text-align: left !important;
}

/* 가운데 열 */
th:nth-child(2), td:nth-child(2) {
  width: 30%; /* 가운데 열을 좁게 */
}

/* 오른쪽 열 */
th:nth-child(3), td:nth-child(3) {
  width: 30%; /* 오른쪽 열을 기본 너비로 */
}

.third_text {
  padding: 0 350px;
  text-align: center;
  margin: 100px;
  white-space: nowrap; 
}

.third_mainText {
  font-size: 38px;
}

.third_subText {
  margin-top: 10px;
  font-size: 15px;
}

.horizontal:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.horizontal:hover .thrid_icon {
  background-color: rgba(255, 255, 255, 0.2);
}

.card_img {
  width: 100%;    
  margin-top: 20px;
  display: flex;  
  justify-content: center;
  gap:8px;
  margin-bottom: 10px;
}

.card_img img {
  width: 8%;   /* 부모 요소의 100% 크기로 이미지 크기를 조정 */
  height: auto;  /* 비율을 유지하면서 높이 자동 조정 */
}

.seven_cards {
  text-decoration: underline;
}

.seven_cards {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.card_collection {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 100;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.seven_cards:hover .card_collection {
  display: block;             

}

.card_collection img {
  width: 50px;
  margin-right: 5px;
}


.Premium_fee {
  padding: 0 330px;
  margin-top: 0px;
  display:flex;
  white-space: nowrap; 
}

.Premium_fee_mainText {
  margin-right: 30px;
  font-size: 30px;
  margin-top: 55px;
}

ul {
  list-style-type: none; /* 기본 동그란 점을 없애는 속성 */
  padding-left: 0; /* 리스트 왼쪽 여백을 없애는 속성 */
}

.set_boxes {
  display:flex;
  justify-content: space-between;
  padding: 0 180px;
  gap: 30px;
  margin-top: 80px;
}

.pink_box,
.yellow_box,
.green_box {
  flex: 1;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  height: 420px;
  display:flex;
}

.mini_pink-box {
  background-color: rgb(246, 210, 239);
  margin-right: 200px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color:black
}

.color_title_1 {
  color: rgb(246, 210, 239);
}

.color_title_2 {
  color: rgb(240, 178, 85);
}

.color_title_3 {
  color: rgb(166, 248, 111);
}

.pink_Btn {
  background-color: rgb(246, 210, 239);
  margin: 0px 15px 0px 15px;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 15px;
  border: none;
}

.yellow_Btn {
  background-color: rgb(240, 178, 85);
  margin: 0px 15px 0px 15px;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 15px;
  border: none;
}

.green_Btn {
  background-color: rgb(166, 248, 111);
  margin: 0px 15px 0px 15px;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
}

.line {
  margin: 0 20px 0 20px;
}

.small_inf h3  {
  text-align: center;
  font-size: 12px;
}

.small_inf {
  font-size: 12px;
  text-align: center;
}

.line hr {
  border: none;
  height: 0.05px; /* 또는 1px */
  background-color: rgb(174, 174, 174);
}

.pink_p {
  margin-top: 20px;
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

.mini_pink-box {
  height: 28px;
  width: 150px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.color_title_1 {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  font-size: 30px;
}

.pink_T {
  padding: 0px 15px 0px 15px;
  margin-top: 10px;
  display: flex;
}

.pink_subText_1 {
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  display: flex;
  margin-top: 3px;
  color: rgb(160, 160, 160);
  margin-bottom: 20px;
}

.p_li {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  gap: 3px;
}

.small_inf {
  color: rgb(160, 160, 160);
  margin-top: 30px;
}

.yellow_p {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
}

.color_title_2 {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  font-size: 30px;
}

.yellow_T {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  margin-bottom: 40px;
}

.y_li {
  padding: 0px 15px 0px 15px;
  margin-top: 35px;
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  gap: 3px;
}

.green_p {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
}

.color_title_3 {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  font-size: 30px;
}

.green_T {
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
  display: flex;
  margin-bottom: 40px;
}

.g_li {
  padding: 0px 15px 0px 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  gap: 3px;
}

.QnA_main_section {
  padding: 0px 200px 0px 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
}

.main_q {
  font-size: 30px;
}

.pink_Btn:hover,
.yellow_Btn:hover,
.green_Btn:hover {
  transform: scale(1.05);
}

.sub_q,
.sub_q_2 {
  font-size: 15px;
  margin-top: 15px;
}

.QnA_Btn_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 25px;
  height: 280px;
  background-color: black;
  /* flex-shrink: 0; */
}

.QnA_1,
.QnA_2,
.QnA_3,
.QnA_4 {
  background-color: rgb(18, 18, 18);
  color: #fff;
  text-align: left;
  height: 25%;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
} 

.QnA_content {
  display: none;              /* 기본적으로 숨김 */
  background-color: #1e1e1e;  /* 버튼보다 약간 밝은 색 */
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-top: 1px solid #333;
  line-height: 1.5;
  text-align: center;
}

.QnA_Btn_box button.active {
  background-color: #292929; /* 클릭 시 살짝 색 다르게 */
}

.QnA_Btn_box button.active i {
  /* transform: rotate(180deg);  */
  transition: transform 0.1s ease;
}

.line_2 {
  height: 1px; /* 또는 1px */
  background-color: rgb(174, 174, 174);

}

footer {
  background-color: black;
  padding: 50px 190px 50px 190px;
  margin-top: 60px;
}

.main_logo_2 img {
  width: 150px;
  height: auto;
}


.footer_main {
  display: flex;
  justify-content: center;
  gap: 100px;
}


.footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px 60px;
}

.footer_container ul li {
  margin-bottom: 20px; /* 원하는 만큼 여백 조절 가능 */
}

.f_T {
  color: rgb(145, 145, 145);
}

.footer_container a {
  text-decoration: none;
}

.sns_collection {
  display: flex;
  gap: 20px;
}

.instagram_Btn,
.X_Btn, 
.facebook_Btn {
  width: 60px;
  height: 60px;
  background-color: rgb(35, 35, 35);
  border-radius: 50px;
  border: none;
}

.sns_collection i {
  color: white;
  font-size: 24px; 
}


.footer_sub {
  margin-top: 120px;
}

.footer_sub_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer_sub_menu a {
  text-decoration: none;
}

.nation_tag {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.nation_tag a {
  text-decoration: none;
  color: rgb(145, 145, 145);
}

.sub_content {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.sub_content a {
  color: rgb(145, 145, 145);
}

.years_tag {
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.last_footer_content {
  font-size: 10px;
  margin-top: 40px;
  color: rgb(145, 145, 145);
}

.last_footer_content a {
  color: rgb(145, 145, 145);
}

.footer_container a:hover {
  color: #20da52;
}

.footer_sub_menu a:hover,
.nation_Btn:hover {
  color: #20da52;
}